@charset "UTF-8";

.slider{
  margin: 50px auto;
  width: 100%;
  overflow: hidden;
  display: flex;
}

ul{
  display: flex;
  list-style: none;
  flex-shrink: 0; /* IEのバグ回避用 */
}
ul:first-child{
  animation: slide1 60s -30s linear infinite;
}
ul:last-child{
  animation: slide2 60s linear infinite;
}

@keyframes slide1{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide2{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}